<cluster-layout space="var(--s0)">
  <a class="" href="/">
    <img src="{{ '/r0b/svg/r0b.svg' | url }}" alt="r0b" width="53" height="28" class="r0bBrand" />
  </a>
  
  <div style="flex: 1;"></div>
  
  <a class="navItem" href="https://blog.r0b.io">Blog</a>
  <a class="navItem" href="{{ '/projects' | url }}">Portfolio</a>
</cluster-layout>
