{# 'project' must be set #}

<div class="projectCard">
  {% if project.data.draft %}
  <p class="projectCard-comingSoon"><span>TODO:</span></p>
  {% endif %}
  <a href="{{ project.url }}">
    <img class="projectCard-cover" src="{{ project.data.coverImage | url }}" alt="{{ project.data.title }}">
  </a>
  <div class="projectCard-banner">
    <a href="{{ project.url }}">
      {{ project.data.title }}
    </a>
  </div>
</div>
