---
layout: html.njk
---

<main>
  <div class="pageBlock" data-accent="liberty">
    <cover-layout minHeight="60vh" centered="center-layout" space="var(--s0)">
      {% include 'nav.njk' %}
      
      <center-layout max="90ch" style="width: 100%">
        <sidebar-layout sideWidth="256px" contentMin="65%">
          <frame-layout ratio="1:1" class="profilePic">
            <picture>
              <img 
                width="256"
                height="256"
                src="{{ '/img/me.jpeg' | url }}"
              >
            </picture>
          </frame-layout>
            <cluster-layout space="var(--s-2)" class="welcomeCluster">
              <h1>
                I'm rob, I make ... 
                <span id="miscSkill">stuff</span>
              </h1>
              
              {% for link in links %}
              <a href="{{ link.url }}" class="circleButton" data-accent="{{ link.accent }}">
                <icon-layout label="{{ link.label }}">
                  {% icon link.icon %}
                </icon-layout>
              </a>
              {% endfor %}
            </cluster-layout>
        </sidebar-layout>
      </center-layout>
    </cover-layout>
  </div>
  
  <!-- Projects -->
  <div class="pageBlock">
    <center-layout max="120ch" gutters="var(--s0)">
      <div class="projectsSection">
        <sidebar-layout noStretch="1" sideWidth="32ch">
          <div class="projectsHeader">
            <stack-layout space="var(--s-1)">
              <h2>Latest Projects</h2>
              <p>I'm a developer making apps and services on the web. I've made technologies like virtual conference schedules, digital posters, interview tagging interfaces, JavaScript frameworks and native apps.</p>
            </stack-layout>
          </div>
          <grid-layout min="300px">
            {% for project in collections.projects | newestFirst | notDraft | slice(0,3) %}
              {% include 'project-card.njk' %}
            {% endfor %}
            <frame-layout ratio="16:9">
              <a class="viewMore" href="{{ '/projects' | url }}">
                Projects
              </a>
            </frame-layout>
          </grid-layout>
        </sidebar-layout>
      </div>
    </center-layout>
  </div>
  
  <!-- Blog but -->
  <div class="pageBlock" data-accent="magenta">
    <center-layout max="640px" gutters="var(--s0)">
      <div class="a4Page">
        <stack-layout>
          {{ content | safe }}
          <cluster-layout justify="flex-end">
            <a href="https://blog.r0b.io" class="viewMore">Blog</a>
          </cluster-layout>
        </stack-layout>
      </div>
    </center-layout>
  </div>
  
  <!-- New bit -->
  <div class="pageBlock">
    <center-layout max="90vw" intrinsic>
      <div class="projectDeck">
        <p class="projectDeck-header">My stuff</p>
        <reel-layout>
          <div class="projectDeck-cards">
            {% for card in deck %}
              {% include 'flip-card.njk' %}
            {% endfor %}
          </div>
        </reel-layout>
        <div class="projectDeck-footer">
          <cluster-layout space="var(--s-1)">
            <button id="organiseDeck">Organise</button>
            <button id="shuffleDeck">Shuffle</button>
          </cluster-layout>
        </div>
      </div>
    </center-layout>
  </div>
</main>

{% include 'footer.njk' %}
