---
layout: html.njk
---

<main>
  <div class="pageBlock" data-accent="liberty">
    <cover-layout minHeight="60vh" centered="#welcome" space="var(--s0)" style="gap: var(--s1)">
      {% include 'nav.njk' %}

      <center-layout max="90ch" style="width: 100%" id="welcome">
        <sidebar-layout sideWidth="256px" contentMin="65%">
          <frame-layout ratio="1:1" class="profilePic">
            <picture>
              <img width="256" height="256" src="/img/me.jpg" />
            </picture>
          </frame-layout>
          <cluster-layout space="var(--s-2)" class="welcomeCluster">
            <h1>
              <span class="welcomeCluster-prefix">I'm rob, I make ...</span>
              <span id="miscSkill">stuff</span>
            </h1>

            {% for link in links %}
            <a href="{{ link.url }}" class="circleButton" data-accent="{{ link.accent }}" rel="me">
              <icon-layout label="{{ link.label }}">
                {% icon link.icon %}
              </icon-layout>
            </a>
            {% endfor %}
          </cluster-layout>
        </sidebar-layout>
      </center-layout>
      <center-layout style="width: 100%">
        <details class="nowSection">
          <summary>What am I up to right now? (ish)</summary>
          <script src="https://omgnow.rknight.me/now.js?a=r0b" defer></script>
          <p class="nowSection-info">
            This is my <a href="https://r0b.omg.lol/now">now page</a>, you should make one! <a href="https://nownownow.com/about">What is this</a>?
          </p>
        </details>
      </center-layout>
    </cover-layout>
  </div>

  <!-- Projects -->
  <div class="pageBlock">
    <center-layout max="120ch" gutters="var(--s0)">
      <div class="projectsSection">
        <sidebar-layout noStretch="1" sideWidth="32ch">
          <div class="projectsHeader">
            <stack-layout space="var(--s-1)">
              <h2>Latest Projects</h2>
              <p>
                I make web stuff and tinker with native apps. Less JavaScript,
                modern CSS and more mac-assed apps. These are the latest of my
                projects that I've written up.
              </p>
            </stack-layout>
          </div>
          <grid-layout min="300px">
            {% for project in collections.projects | newestFirst | notDraft | slice(0,3) %}
              {% include 'project-card.njk' %}
            {% endfor %}
            <frame-layout ratio="16:9">
              <a class="viewMore" href="/projects"> Projects </a>
            </frame-layout>
          </grid-layout>
        </sidebar-layout>
      </div>
    </center-layout>
  </div>

  <!-- Blog bit -->
  <div class="pageBlock" data-accent="blog">
    <center-layout max="640px" gutters="var(--s0)">
      <div class="a4Page">
        <stack-layout>
          {{ content | safe }}
          <cluster-layout justify="flex-end">
            <a href="https://blog.r0b.io" class="viewMore">Blog</a>
          </cluster-layout>
        </stack-layout>
      </div>
    </center-layout>
  </div>

  <!-- New bit -->
  <div class="pageBlock">
    <center-layout max="90vw" intrinsic>
      <div class="projectDeck">
        <p class="projectDeck-header">
          <cluster-layout space="var(--s-1)">
            <button id="organiseDeck">Chronological</button>
            <button id="shuffleDeck">Shuffle</button>
            <button class="taggedDeck" data-tag="Web">Web</button>
            <button class="taggedDeck" data-tag="Native">Native</button>
            <button class="taggedDeck" data-tag="Nova">Nova</button>
            <button class="taggedDeck" data-tag="Physical">Physical</button>
            <button class="taggedDeck" data-tag="Infra">Infra</button>
          </cluster-layout>
        </p>
        <reel-layout>
          <div class="projectDeck-cards">
            {% for card in deck | sortCards %}
              {% include 'flip-card.njk' %}
            {% endfor %}
          </div>
        </reel-layout>
      </div>
    </center-layout>
  </div>
</main>

{% include 'footer.njk' %}
