---
layout: html.njk
---

<div class="pageBlock" data-block="first">
  <cover-layout minHeight="600px" centered="center-layout" class="firstBlock" space="var(--s0)">
    <div class="navbar">
      <cluster-layout space="var(--s0)">
        <a class="navbar-item" href="/">
          <img src="{{ '/r0b/svg/r0b.svg' | url }}" alt="r0b" width="53" height="28" class="r0bBrand" />
        </a>
        
        <div style="flex: 1;"></div>
        
        <a class="navbar-item" href="https://blog.r0b.io">Blog</a>
        <a class="navbar-item" href="{{ '/projects' | url }}">Portfolio</a>
      </cluster-layout>
    </div>
    
    <center-layout max="120ch" style="width: 100%">
      <div class="hero">
        <frame-layout ratio="1:1" data-hero="picture">
          <picture>
            <img 
              class="profilePic"
              width="256"
              height="256"
              src="{{ '/img/me.jpeg' | url }}"
            >
          </picture>
        </frame-layout>
        
        <h1 class="welcomeMessage" data-hero="message">
          I'm rob, I make ... 
          <span id="miscSkill">stuff</span>
        </h1>
        
        <cluster-layout data-hero="links" space="var(--s-2)">
          <!-- TWITTER -->
          <a href="https://twitter.com/Robbb_J" class="circleButton" data-accent="twitter">
            <icon-layout label="Twitter">
              {% icon 'twitter' %}
            </icon-layout>
          </a>
          
          <!-- GITHUB -->
          <a href="https://github.com/robb-j" class="circleButton" data-accent="github">
            <icon-layout label="GitHub">
              {% icon 'github' %}
            </icon-layout>
          </a>
          
          <!-- Docker Hub -->
          <a href="https://hub.docker.com/u/robbj" class="circleButton" data-accent="dockerhub">
            <icon-layout label="DockerHub">
              {% icon 'dockerhub' %}
            </icon-layout>
          </a>
          
          <!-- Instagram -->
          <a href="https://hub.docker.com/u/robbj" class="circleButton" data-accent="instagram">
            <icon-layout label="Instagram">
              {% icon 'instagram' %}
            </icon-layout>
          </a>
          
          <!-- Scholar -->
          <a href="https://scholar.google.co.uk/citations?user=sL5l7hIAAAAJ&hl=en" class="circleButton" data-accent="scholar">
            <icon-layout label="Google Scholar">
              {% icon 'scholar' %}
            </icon-layout>
          </a>
        </cluster-layout>
      </div>
    </center-layout>
  </cover-layout>
</div>

<div class="pageBlock" data-block="second">
  <box-layout borderWidth="0">
    <center-layout>
      <section class="portfolioSection">
        <div class="portfolioSection-card">
          <h2>Latest Projects</h2>
          <p>I'm a developer making apps and services on the web. I've made technologies like virtual conference schedules, digital posters, interview tagging interfaces, JavaScript frameworks and native apps.</p>
        </div>
      </section>
    </center-layout>
  </box-layout>
</div>
