<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title + ' |' if title }} {{ site.title }}</title>
    <link rel="stylesheet" href="{{  '/dist/css/styles.css' | url }}" />
    <link rel="icon" href="{{ '/img/favicon.jpg' | url }}?v=2" />
    <meta name="theme-color" content="{{ meta.color or '#4a5899' }}" />
    <meta
      property="og:title"
      content="{{ meta.title or title or site.title }}"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ (meta.image or 'img/opengraph.png') | fullUrl }}"
    />
    <meta property="og:url" content="{{ page.url | fullUrl }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@robbb_j" />
    <meta property="og:description" content="{{ meta.summary or summary }}" />
    <meta name="generator" content="Eleventy" />
    <!-- @openlab/alembic inject-css -->
  </head>
  <body>
    {{ content | safe }}
    <div class="glitched"></div>
    <script src="{{ '/dist/js/app.js' | url }}"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://truthful-stirring.r0b.io/script.js" data-site="LYDSSVMX" defer></script>
    <!-- / Fathom -->
  </body>
</html>
