---
layout: project.njk
navWidth: 130ch
---

<center-layout max="130ch" gutters="var(--s1)">
  <stack-layout space="var(--s0)">
    <p>
      <a href="{{ '/' | url }}">
        <icon-layout>
          {% icon 'left' %}
          Home
        </icon-layout>
      </a>
    </p>
    
    <grid-layout class="projectGrid" minSize="350px" space="var(--s-1)">
      {% for project in collections.projects | newestFirst %}
      {% include 'project-card.njk' %}
      {% endfor %}
    </grid-layout>
  </stack-layout>
</center-layout>
