---
layout: project.njk
navWidth: 75ch
---

<center-layout max="75ch" gutters="var(--s1)">
  <stack-layout space="var(--s0)">
    <p>
      <a href="{{ '/projects' | url }}" class="button is-text">
        <icon-layout>
          {% icon 'left' %}
          Projects
        </icon-layout>
      </a>
    </p>
    
    {{ content | safe }}
  </stack-layout>
</center-layout>
