/*
  FONTS
*/

@font-face {
  font-family: 'Nunito';
  src: url(../font/nunito/Nunito-VariableFont_wght.woff2)
      format('woff2-variations'),
    url(../font/nunito/Nunito-VariableFont_wght.ttf) format('ttf');

  font-weight: 200 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(../font/nunito/Nunito-Italic-VariableFont_wght.woff2)
      format('woff2-variations'),
    url(../font/nunito/Nunito-Italic-VariableFont_wght.ttf) format('ttf');
  font-weight: 200 1000;
  font-style: italic;
}
