/*
  Globals
*/
html {
  font-family: var(--family-main);
  line-height: 1.4;
  color: var(--color-dark);
  font-size: 16px;
}
a {
  color: var(--color-anchor);
}
img {
  height: auto;
  max-width: 100%;
}
[aria-hidden='true'] {
  display: none;
}

/*
  Figures
*/
figure {
  max-width: 640px;
  margin: 2rem auto !important;
  text-align: center;
}
figcaption {
  font-style: italic;
}

/*
  Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.125;
}

pre {
  border-left: 5px solid #209cee;
}

/*
  hacks
*/
cover-layout > center-layout {
  width: 100%;
}
