@import '@openlab/alembic/reset.css';
@import '@openlab/alembic/layouts.css';

:root {
  /* ... */
  --measure: 60ch;

  --family-baloo: 'Baloo Bhai', system-ui, sans-serif;
  --family-mono: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    Courier, monospace;

  /* https://github.com/robb-j/r0b-design/blob/master/src/styles/base/variables.sass */
  --color-yellow: #ffdd57;
  --color-magenta: #92374d;
  --color-berry: #8c5483;
  --color-liberty: #4a5899;
  /* --color-offBlue: #559CAD; */
  /* --color-silver: #c0b2aa; */
  /* --color-deepKoamaru: #392b58; */
  /* --color-bluePen: #00188a; */
}

html {
  font-family: system-ui, sans-serif;
  line-height: 1.4;
}

.navbar {
  font-family: var(--family-baloo);
}
.navbar-item {
  font-size: 1.05em;
  color: #f5f5f5;
  text-shadow: -1px 1px 0 #4a4a4a, 1px 1px 0 #4a4a4a, 1px -1px 0 #4a4a4a,
    -1px -1px 0 #4a4a4a;
  text-decoration: none;
}
.navbar-item:hover {
  color: var(--color-yellow);
}

.profilePic {
  max-width: 256px;
  margin-inline: auto;
}
.profilePic img {
  border-radius: 290486px;
  grid-row: 1/3;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3),
    -0.5px -0.5px 0 rgba(255, 255, 255, 0.7);
}

.circleButton {
  color: white;
  cursor: pointer;
  line-height: 0;
  padding: 0.35em;
  border-radius: 100%;
  font-size: 2.5em;
  border: var(--s-5) solid rgba(255, 255, 255, 0.4);
  transition: transform 300ms ease;
}
.circleButton:hover {
  transform: scale(1.05);
}
.circleButton[data-accent='twitter'] {
  background-color: #1ca1f2;
}
.circleButton[data-accent='github'] {
  background-color: black;
}
.circleButton[data-accent='dockerhub'] {
  background-color: #066da5;
}
.circleButton[data-accent='instagram'] {
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.circleButton[data-accent='scholar'] {
  background-color: #4c90fe;
}

.r0bBrand {
  transform: rotate(-10deg);
}

.welcomeCluster {
  align-items: center;
}
.welcomeCluster h1 {
  font-weight: 200;
  font-size: 3em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
  flex: 100%;
  align-self: flex-end;
}
.welcomeCluster a {
  align-self: flex-start;
}

.pageBlock {
  position: relative;
  color: var(--block-color);
  background-color: var(--block-background);
}
.pageBlock[data-block='first'] {
  --block-color: white;
  --block-background: var(--color-liberty);
  margin-block-end: 7vw;
}
.pageBlock[data-block='second'] {
  margin-block: -7vw;
  padding-block: 7vw;
  background-image: url(./paper.png);
  background-repeat: repeat;
}
.pageBlock[data-block='third'] {
  margin-block: 7vw;
  --block-color: white;
  --block-background: var(--color-magenta);
}
.pageBlock[data-block='fourth'] {
  margin-block-start: -7vw;
  padding-block-start: 7vw;
  background-image: url(./paper.png);
  background-repeat: repeat;
}

.pageBlock[data-block='first']::after,
.pageBlock[data-block='third']::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: -7vw;
  border-left: 100vw solid var(--block-background);
  border-bottom: 7vw solid transparent;
  border-top: 1px solid var(--block-background);
}

.pageBlock[data-block='third']::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: -7vw;
  border-left: 100vw solid var(--block-background);
  border-top: 7vw solid transparent;
  border-bottom: 1px solid var(--block-background);
}

footer {
  background-image: url(./paper.png);
  background-repeat: repeat;
  border-bottom: 6px solid var(--color-liberty);
  padding: 3em 0 0.5em;
}
footer p {
  font-family: var(--family-mono);
  font-size: 0.85em;
  text-align: center;
  color: #7a7a7a;
}
footer a {
  color: #363636;
  text-decoration: underline;
  font-weight: bold;
}
