.page-block:first-child {
  padding-top: 3.25rem;
}

.button.is-circle {
  border-color: rgba(255, 255, 255, 0.4);
}

.trello-board.is-abstract {
  background-size: cover;
  background-image: url(./img/abstract-background.jpg);
}

.a4-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trello-view-more {
  text-align: right;
  padding: 1rem;
}

.button.is-circle {
  transition: transform 0.15s ease;
}

.button.is-circle:hover {
  transform: scale(1.05);
}

.about-me .view-more {
  position: relative;
  top: -2px;
  margin-left: 0.75em;
}

footer {
  position: relative;
}

.glitch-pixel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  height: 6px;
  background-color: #ccc;
}

body:not(.is-glitched) .glitched {
  display: none;
}

body.is-glitched {
  overflow: hidden;
}

@keyframes glitched {
  from {
    background: transparent;
  }
  to {
    background: black;
  }
}

.glitched {
  position: fixed;
  transition: background 3s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: 4s ease glitched forwards;
  z-index: 100;
}

.glitched iframe {
  height: 100vh;
  width: 100vw;
}

.has-text-animation {
  padding-right: 0.1em;
  border-right: 3px solid #ee8595;
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.project-card .card-cover-image .loading-placeholder {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 1rem,
    #eee 1rem,
    #eee 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}
